<h1>All Users</h1>

<% @users.each do |user| %>
  <div class="user">
    <h2><%= user.name %></h2>
    <p>Email: <%= user.email %></p>
    
    <% unless current_user == user %>
      <% if current_user.following?(user) %>
        <%= link_to 'Unfollow', unfollow_user_path(user), method: :delete %>
      <% elsif current_user.pending_follow_request?(user) %>
        <p>Request Pending</p>
      <% else %>
        <%= link_to 'Follow', follow_user_path(user), method: :post %>
      <% end %>
    <% end %>
  </div>
<% end %>
