<!-- app/views/users/show.html.erb -->
<%= render 'follow_form' if user_signed_in? %>

<h1><%= @user.email %>'s Profile</h1>

<!-- Display user profile details here, e.g., name, bio, profile picture, etc. -->
<%= link_to 'Back', root_path %>